@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;800&display=swap');

body {
  /*background: rgb(0,0,0);*/
  /*background: linear-gradient(16deg, rgba(0,0,0,1) 0%, rgba(29,25,55,1) 51%, rgba(27,20,77,1) 100%);*/

  background: rgb(0,97,252);
  background: linear-gradient(30deg, rgba(0,97,252,1) 32%, rgba(217,55,187,1) 100%);

  overflow-y: scroll;
}

body, html, #root {
  height: 100%
}

.active-nav-item {
  color: red
}

.nav-item {
  display: inline-block;
  margin: 0 4px;
  background: rgb(0,97,252);
  height: 12px;
  width: 12px;
  border-radius: 6px;

  transition: width 0.2s ease-out;
;
}

.active-nav-item .nav-item {
  width: 30px;
}